<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cultivo News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/news1.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div>
    <div class="container">

      <h2>Cultivo News</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="height: 450px;">
          <div class="item active">
            <img src="static/css/img/F2.jpeg" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="static/css/img/F4.jpeg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="static/css/img/F3.jpeg" alt="New york" style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <marquee width="100%" behavior="scroll" bgcolor="lightgreen">
        <div style="font-size: larger;">
          <b>
            Hyderabad: Leads Connect Services, ICRISAT sign MoU to develop Sustainable Solutions for Agriculture
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agricultural Legal Aid Clinic inaugurated in Kothagudem
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sugarcane growers to lobby against inclusion of sugar mill owners in new
            Karnataka cabinet
          </b>
        </div>
      </marquee>
      <br>
      <br>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="static/css/img/N5.png" alt="" style="width:100%">
            <h3>Telangana govt prepares crop plan to promote cotton, red gram</h3>
            <h5><a href="https://shorturl.at/prBEO">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N6.png" alt="" style="width:100%">
            <h3>Agronomic practices helped rejuvenate inundated crops: Telangana</h3>
            <h5><a href="https://shorturl.at/zHKLV">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N7.png" alt="" style="width:100%">
            <h3>India to extend rice export curbs to ensure domestic price stability, supply</h3>
            <h5><a href="https://shorturl.at/jCMX8">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N8.png" alt="" style="width:100%">
            <h3>Maharashtra Budget: Farmers can insure crops at just Rs 1 :Report</h3>
            <h5><a href="https://shorturl.at/bmuI4">Read More</a></h5>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="static/css/img/N9.png" alt="" style="width:100%">
            <h3>New Delhi: Govt sets foodgrain production target of 332 MT for 2023-24</h3>
            <h5><a href="https://shorturl.at/crLP9">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N10.png" alt="" style="width:100%">
            <h3>Agritech can solve farm sector challenges: UNCDF-NITI Aayog Report</h3>
            <h5><a href="https://shorturl.at/lt134">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N11.png" alt="" style="width:100%">
            <h3>High-yielding paddy developed in 7 years using speed-breed technique</h3>
            <h5><a href="https://shorturl.at/fjGI5">Read More</a></h5>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="static/css/img/N12.png" alt="" style="width:100%">
            <h3>Telangana to soon launch agriculture data exchange, tech to aid agri</h3>
            <h5><a href="https://shorturl.at/wRZ67">Read More</a></h5>
          </div>
        </div>
      </div>
      <div class="footer">
        <h2><br></h2>
      </div>
      

    </div>
  </div>

  </div>
</body>

</html>